@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #b12f31;
    height: calc(100vh);
}

.container{
    display: flex;
}
.edit-btn {
  background-color: #8deb90;
  color: #0d5c19;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

.edit-btn:hover {
  background-color: #3e8e41;
}
nav{
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    background: #333;
    overflow: hidden;
    box-shadow: 0 0px 35px rgba(0, 0, 0, 0.1);
    height: calc(100vh);
}

.logo {
    color: #fff;
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: #fff;
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}

nav .fas{
    position: relative;
    width: 70px;
    height: 50px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: -20px;
}

a:hover{
    background: #06223a;
}

.logo a:hover {
    background: #333; 
  }



.main-top i{
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3rem;
   
    position: absolute;
    right: 0;
    margin: 10px 30px;
    
    cursor: pointer;
}

.main-top i:hover{
    background: #06223a;
}

@media screen and (max-width: 1050px){
    .container li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px){
    .container li span{
        display: none;
    }
    .container {
        align-items: center;
    }

    .container li i{
        width: 40px;
        height: 40px;
    }
}
.main-logout button{
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3rem;
   
    position: absolute;
    right: 0;
    margin: 10px 30px;
    
    cursor: pointer;
}

.main-logout buttons:hover{
    background: #06223a;
}

/* dsachuser */
.wrapper {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    justify-content: center; /* Center elements vertically within the wrapper */
    min-height: 100vh; /* Set minimum height to fill viewport */
  }
  
h1 {

    color: #333;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

#bangdanhsach {
    margin-top: 30px;
    width: 600px;
    max-width: 100%;
    margin: 50px 250px ;
    height: 100%;
    border: 1px solid #000;
    background-color: #000;
    
}

#bangdanhsach th, #bangdanhsach td {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

#bangdanhsach th {
    font-weight: bold;
    background-color: #333;
    color: #fff;
}

#dulieu {
  width: 100%;
  height: 100%;
  
  border: 1px solid #ffffff;
  margin-bottom: 20px;
  background-color: #ffffff;
  
}

#dulieu th, #dulieu td {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

#dulieu th {
  font-weight: bold;
  background-color: #ffffff;
  color: #000000;
}

#bangdanhsach .btn-xoa {
    cursor: pointer;
    color: #fff;
    background-color: #ff0000;
    padding: 2px 5px;
    border-radius: 5px;
}

#bangdanhsach .btn-xoa:hover {
    background-color: #990000;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  
  }
  
  .footer .box-container .box{
    flex: 1 1 25rem;
  }
  
  .footer .box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
  }
  
  .footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
  }
  
  .footer .box-container .box a:hover{
    color:#fff;
    text-decoration: underline;
  }
  
  .footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 1rem;
    color: #333;
    border-top: .1rem solid rgba(0,0,0,1);
  }
  
  .footer .credit span{
    color: #fff;
  
  }

  a {
    color: #fff;
  }
  
  @media (max-width: 991px){
    html{
      font-size: 55%;
    }
    header {
      padding: 2rem;
    }
    section {
      padding: 2rem;
    }
    .home {
      background-position: left;
    }
  
  }
  
  @media (max-width: 450px){
    html {
      font-size: 50%;
    }
  }