<!DOCTYPE html>
<html>
<head>
    <title>Block-Vote</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    <header class="site-header clearfix">
        <nav>
            <div class="logo">
                <h1>B-Vote</h1>

            </div>
            
        </nav>
        <section>
            <div class="leftside">
                <img src="/assets/img/back.png">
            </div>
            <div class="rightside">
                <h1>BLOCKCHAIN</h1>
                <h2>XÂY DỰNG HỆ THỐNG BẦU CỬ </h2>
                <h2>DỰA TRÊN MẠNG ETHEREUM</h2>
                <h2>VÀ NGÔN NGỮ SOLIDITY</h2>
                <p> HÃY ĐỂ LỰA CHỌN CỦA BẠN ĐƯỢC LẮNG NGHE! </p>
                <a href="/xacthuc"><button>XÁC THỰC</button></a>
                <a href="/add"><button>THÊM</button></a>
                <a href="/login"><button>ĐĂNG NHẬP</button></a>

            </div>

        </section>

    </header>
</body>

</html>